/* Root Styles */
:root {
    --text-color: #E3DCD2;
    --back-color: #cc8b65;
}
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #013328;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, p, li, a{
    color: var(--text-color);
}

/* Navigation Bar */
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 10;
    padding: 0px 50px;
    width: 91%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 10;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
}
.links ol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.links ol li{
    margin: 0px 10px;
    position: relative;
    list-style: none;
}
.resume{
    padding-left: 10px;
}

/* Main body */
body {
    margin: 0px;
    width: 100%;
    min-height: 80%;
    overflow-x: hidden;
}
    /* Side Element */
.side-left{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
}
.side-left ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.side-left ul li{
    padding: 10px 0;
}
.side-left ul li:last-of-type{
    margin-bottom: 20px;
}
.side-left ul li a{
    color: var(--back-color);
}
.side-left ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--back-color);
}
.side-right{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}
.random{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.random::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--back-color);
}
#circle {
    /* (A) SAME WIDTH & HEIGHT - SQUARE */
    width: 50px;
    height: 50px;
    margin: 25px;
   
    /* (B) 50% RADIUS = CIRCLE */
    border-radius: 50%;
   
    /* (C) BACKGROUND COLOR */
    background-color: var(--back-color);
}
#circle-txt {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
    margin-left: 5px;
    font-size: 10px;
  }
#circle:hover{
    cursor: pointer;
    opacity: 0.7;
}
  /* About Section */
main {
    margin: 0px auto;
    width: 80%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 200px 150px;
}
.content{
    margin-left: 10%;
}
.fill{
    padding: 0 150px;
}
section {
    margin-top: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}
.general{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
    line-height: 0;
}
.general h1{
    font-size: 50px;
    
}
.general h2{
    font-size: 30px;
}
.general p{
    margin: 20px 0px 0px;
    max-width: 540px;
    line-height: 1;
}
.general .container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
.picture{
    position: relative;
    max-width: 300px;
}
.picture img{
    margin-top: 10%;
    max-width: 300px;
}
 /* Project Section */
.general .projects{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}
.projects #project{
    padding: 15px;
    text-align: center;
}
.projects #project img{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}
.projects #project h3{
    border: 1px solid var(--back-color);
    padding: 1rem 1rem;
}
.projects #project h3:hover{
    cursor: pointer;
    background-color: var(--back-color);
    opacity: 0.7;
}